NEXT_PUBLIC_WP_GRAPHQL_URL=http://sendero.local/graphql
NEXT_PUBLIC_WP_URL=http://sendero.local
WP_REVALIDATE_SECRET=cambiar_en_produccion

# Debe coincidir con SENDERO_FORM_SECRET en wp-config.php
WP_FORM_SECRET=cambiar_en_produccion
